@use "../abstracts";

.dropdown {
    position: absolute;
    left: 0;
    padding-top: 54px;
    width: min(1240px, 100%);

    // visibility: hidden;
    // opacity: 0;
    // transition: 0.3s;

    &__inner {
        padding: 30px;
        position: relative;

        height: min(582px, 100vh - 158px);

        border-radius: 20px;
        background: var(--dropdown-bg-color);
        box-shadow: 0 25px 30px 15px var(--dropdown-shadow);

        &::before {
            content: url("../icons/dropdown-arrow.svg");
            position: absolute;
            top: -13px;
            left: var(--arrow-left-pos);
            transform: translateX(-50%);

            filter: var(--dropdown-arrow-color);
        }
    }
}

.top-menu {
    --main-column-width: 292px;

    position: relative;
    height: 100%;

    &__main {
        width: var(--main-column-width);
        height: 100%;
        border-right: 1px solid var(--top-menu-border-color);
        overflow-y: auto;
    }
}

.menu-column {
    display: flex;
    column-gap: 14px;

    & + & {
        margin-top: 22px;
    }

    &__icon {
        position: relative;
        flex-shrink: 0;
        width: 36px;
        height: 36px;

        @include abstracts.breakpoint(xl) {
            display: none;
        }
    }

    &__content {
        flex: 1;
    }

    &__icon-1 {
        width: 30px;
        height: 30px;
        object-fit: cover;
    }

    &__icon-2 {
        position: absolute;
        width: 24px;
        height: 24px;
        object-fit: cover;
        right: 0;
        bottom: 0;
        filter: var(--menu-icon-category-color);
    }

    &__heading {
        min-height: 36px;
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%;
    }

    &__list {
        margin-top: 19px;
    }

    &__item {
        &:hover {
            .sub-menu {
                display: grid;
            }

            > .menu-column__link {
                color: #0071dc;

                &::after {
                    transform: scaleX(1);
                }
            }
        }
    }

    &__link {
        position: relative;
        display: block;
        padding: 7px 0;
        font-size: 1.4rem;
        line-height: 142.857%;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;

            width: 100%;
            height: 1px;
            background: #0071dc;

            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3s;
        }

        &:hover::after {
            transform: scaleX(1);
        }
    }
}

.sub-menu {
    position: absolute;
    inset: 0 0 0 calc(var(--main-column-width) - 1px);
    padding-left: 30px;

    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);

    overflow-y: auto;
}
